<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body>
    <nav th:replace="~{layout :: nav}"></nav>
    <div class="container">
        <div class="header-row">
            <h1>🏆Tournois</h1>
            <div th:if="${errorMessage}"
            style="background:#8b1a2e;border:1px solid #c0253f;color:#ff6b8a;
            padding:0.8rem 1.2rem;border-radius:6px;margin-bottom:1rem;
            font-weight:700;letter-spacing:1px;">
           ⚠️ <span th:text="${errorMessage}"></span>
            </div>
            <a href="/tournois/new" class="btn btn-primary">+ Nouveau Tournoi</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Date Début</th>
                    <th>Date Fin</th>
                    <th>Groupes</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="t, i : ${tournois}">
                    <td th:text="${i.count}"></td>
                    <td th:text="${t.nom}"></td>
                    <td th:text="${t.dateDebut}"></td>
                    <td th:text="${t.dateFin}"></td>
                    <td th:text="${t.nbGroupes}"></td>
                    <td>
                        <span class="badge"
                              th:classappend="${t.statut.name() == 'EN_COURS'} ? 'badge-cyan' : 'badge-blue'"
                              th:text="${t.statut}">
                        </span>
                    </td>
                    <td>
                        <div class="actions">
                            <a th:href="@{/tournois/{id}/groupes(id=${t.id})}" class="btn btn-primary">Groupes</a>
                            <a th:href="@{/tournois/{id}/edit(id=${t.id})}" class="btn btn-warning">Modifier</a>
                            <a th:href="@{/tournois/{id}/delete(id=${t.id})}"
                               class="btn btn-danger"
                               onclick="return confirm('Hamafa ve?')">Supprimer</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
